header {
    padding: 10px 15px;

    h1 {
        margin: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .header-social {
        display: flex;
        align-items: center;

        span {
            @media(max-width: 500px) {
                display: none;
            }
        }

        a {
            display: inline-block;
            margin-left: 10px;
        }

        svg {
            height: 20px;
            width: 30px;
        }
    }
}
