header {
    padding: 10px 15px;

    .container {
        > div:first-child {
            display: flex;
            align-items: center;
        }
    }

    img {
        display: inline-block;
        margin-right: 15px;
        max-width: 40px;
        max-height: 32px;
        position: relative;
        top: -3px;
    }

    h1 {
        margin: 0;
        display: inline-block;

        span {
            color: $pink;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .header-social {
        display: flex;
        align-items: center;

        span {
            @media(max-width: 500px) {
                display: none;
            }
        }

        a {
            display: inline-block;
            margin-left: 10px;
        }

        svg {
            height: 20px;
            width: 30px;
            fill: $pink;
        }
    }
}
