.phonetic-tile {
    background: darken(#fff, 5%);
    padding: 25px 20px;
    padding-bottom: 10px;
    cursor: default;
    border-radius: 2px;
    min-width: 75px;
    margin-bottom: 20px;

    @media (max-width: 500px) {
        padding: 12px 10px;
        min-width: 55px;
        margin-bottom: 10px;
    }

    h3,
    h4 {
        margin: 0;
    }

    h3 {
        display: block;
        text-align: center;
        font-size: 2em;

        @media (max-width: 500px) {
            font-size: 1.4em;
        }
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 10px;

        @media (max-width: 500px) {
            font-size: .8em;
        }
    }
}
