.phonetic-tile {
    background: darken(#fff, 0%);
    //box-shadow: 0 6px 0 0 darken(#fff, 16%);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    padding: 25px 20px;
    padding-bottom: 10px;
    cursor: default;
    transition: transform .2s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    min-width: 75px;
    margin-bottom: 20px;

    @media (max-width: 500px) {
        padding: 12px 10px;
        min-width: 55px;
        margin-bottom: 10px;
    }

    h3,
    h4 {
        margin: 0;
    }

    h3 {
        display: block;
        text-align: center;
        font-size: 2em;

        @media (max-width: 500px) {
            font-size: 1.4em;
        }
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        text-align: right;
        margin-top: 10px;

        @media (max-width: 500px) {
            font-size: .8em;
        }
    }

    &:hover {
        //transform: scale(1.025);
        //box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2);
        background: darken(#fff, 3%);
    }
}
